@using nutri.Enums;
@model Habitos

@{
ViewBag.Title = "Nova Antropometria";
TempData["PacienteId"] = ViewBag.Paciente.Id;
}

<h2>Antropometria</h2>

@* @using (Html.BeginForm("Upsert", "AtendimentoNutricional", FormMethod.Post, new { @class = "form-inline"})) *@
@using (Html.BeginForm("Upsert", "Antropometria"))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <partial name="_Paciente" model="ViewBag.Paciente" />

    @Html.Hidden("Id")

    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" role="button" />
            <input type="button" value="Cancelar" class="btn btn-primary" role="button" onClick="history.go(-1)" />
            <input type="button" value="Limpar" class="btn btn-primary" role="button"
                onClick="$('form').get(0).reset()" />
        </div>
    </div>
</div>
}

@section Scripts {
<script type="text/javascript" src="~/js/habitos.js"></script>
}