@model Profissional

@using (Html.BeginForm("Upsert", "Profissional", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

<div class="form-group row">
    <div class="col-md-12">
        <label class="control-label">Nome do Profissional</label>
        <input type="text" id="Nome" name="Nome" class="form-control" value="@Model.Nome" />
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="control-label">CRN</label>
        <input type="text" id="CRN" name="CRN" class="form-control" value="@Model.CRN" />
    </div>
</div>
<div class="form-group row">
    <label class="control-label">Logo Particular</label>
    <div class="col-md-12">
        <input type="file" id="LogoParticular" name="LogoParticular" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <label class="control-label">Logo Empresa</label>
    <div class="col-md-12">
        <input type="file" id="LogoEmpresa" name="LogoEmpresa" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Salvar" class="btn btn-primary" role="button" />
    </div>
</div>

}